<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="{{ path('user_edit') }}">Edit informations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('user_password') }}">Edit password</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('user_orders') }}">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('user_products') }}">Products</a>
  </li>
</ul>