{% extends 'base.html.twig' %}

{% block title %}
	SoundPlugs - Profil
{% endblock %}

{% block body %}
	<div class="container my-5">
		{% include 'partials/_account-nav.html.twig' %}
	</div>
{% endblock %}
