{% extends 'base.html.twig' %}

{% block title %}
	SoundPlugs - Password
{% endblock %}

{% block body %}
	<section class="mt-5 py-5">
		<div class="container mt-5 py-5">
			{{ form(form) }}

			{% for label, messages in app.flashes(['success', 'warning']) %}
				{% for message in messages %}
					<div class="flash-{{ label }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
